{
	admin localhost:2019
	auto_https off
}

(common) {
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
		-Server
	}
}

:3000 {
	import common
	reverse_proxy aperture:3000
}

:3001 {
	import common
	reverse_proxy uptime-kuma:3001
}

:5055 {
	import common
	reverse_proxy jellyseerr:5055
}

:5454 {
	import common
	reverse_proxy notifiarr:5454
}

:6767 {
	import common
	reverse_proxy bazarr:6767
}

:6868 {
	import common
	reverse_proxy profilarr:6868
}

:7474 {
	import common
	reverse_proxy autobrr:7474
}

:7575 {
	import common
	reverse_proxy homarr:7575
}

:7878 {
	import common
	reverse_proxy radarr:7878
}

:8096 {
	import common
	reverse_proxy jellyfin:8096
}

:8989 {
	import common
	reverse_proxy sonarr:8989
}

:9090 {
	import common
	reverse_proxy qbittorrent:9090
}

:9117 {
	import common
	reverse_proxy jackett:9117
}

:9696 {
	import common
	reverse_proxy prowlarr:9696
}

:18090 {
	import common
	reverse_proxy torrserver:18090
}
